src/main/mule/github-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="ae63026f-73ea-4f21-8810-53593c9fdf00" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="github-apiFlow" doc:id="29d4117b-56e6-41f1-9b8d-c96eaa053bfb" >
		<http:listener doc:name="Listener" doc:id="bdc20c6b-f271-46bb-9716-98f0f5ee5fd5" config-ref="HTTP_Listener_config" path="/test"/>
		<logger level="INFO" doc:name="Logger" doc:id="e52c06e2-9d13-4ede-9571-78cf8680ebac" message="start logs"/>
		<ee:transform doc:name="Transform Message" doc:id="1bd17aed-3a82-4825-b97c-b7472317c545" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
"i am using git hub"]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="b96b1d9d-98d3-43d3-8cd9-ae19d9a930ce" message="#[payload]"/>
	</flow>
</mule>
